#banner{
    background-color: rgb(243,243,243);
}
.divWidth{
    width: 75%;
    margin: 15px auto;
    align-items: center;
    button{
        background-color: rgb(255, 56, 56);
        color: white;
        border: solid 1px rgb(255, 56, 56);
        border-radius: 25px;
        width: 18%;
        height: 40px;
    }
}
h1{
    font-size: 60px;
}