#banner{
    background-color: rgb(243,243,243);
}
.divWidth{
    div:first-child{
        padding-top: 100px;
        height: 200px;
        button{
            background-color: rgb(255, 56, 56);
            color: white;
            border: solid 1px rgb(255, 56, 56);
            border-radius: 25px;
        }
    }
}

@media (max-width: 640px) {
    .divWidth{
        height: 400px;
        margin: 25px auto;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        justify-content: center;
        div{
            button{
                font-size: 10px;
                height: 40px;
            }
        }
        .divImgBanner{
            img{
                display: none;
            }
        }
    }
}
@media (min-width: 641px) and (max-width:1007px) {
    .divWidth{
        height: 420px;
        display: flex;
        justify-content: space-evenly;
        margin: 25px auto;
        div{
            width: 30%;
            button{
                height: 40px;
                font-size: 12px;
            }
        }
        .divImgBanner{
            width: 350px;
            height: 350px;
            img{
                width: 100%;
            }
        }
    }
}
@media (min-width:1008px) {
    .divWidth{
        height: 420px;
        display: flex;
        justify-content: center;
        margin: 25px auto;
        div{
            
            width: 40%;
            button{
                background-color: rgb(255, 56, 56);
                color: white;
                border: solid 1px rgb(255, 56, 56);
                border-radius: 25px;
                font-size: 14px;
                height: 40px;
            }
        }
        .divImgBanner{
            width: 350px;
            

            img{
                width: 100%;
            }
        }
    }
}