//btn DarkMode
.btnMode{
    height: 20px;
    width: 30px;
    border:solid 1px black;
    border-radius: 5px;
    margin: 0 1px;
}
.btnConex{
    background-color: rgb(119, 119, 119);
    color: white;
    border-radius: 3px;
    border: solid 1px rgb(119, 119, 119);
    width: 50%;
    height: 120%;
    margin: 0 1px;
}
#lightMode{
    background-color: #fff;
}
#darkMode{
    background-color: rgb(65, 65, 65);
}
//
.imgLogo{
    text-align: center;
}
.imgLogo>img{
    margin: 40px 0;
}
.navList{
    align-items: center;
    margin: 10px 0;
}
li{
    list-style-type: none;
    margin: 0 25px;
}
a{
    text-decoration: none;
    color: black;
}