.divParentProducst:hover{
    .contentDetails{
        display: block;
    }
}
.divImgProducts{
    position: relative;
    
    .contentDetails{
        bottom: 0px;
        position: absolute;
        width: 100%;
        display: none;
        .divDflex{
            display: flex;
            height: 70px;
            .details{
                background-color: black;
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    color: white;
                }
            }
            .panier{
                background-color: red;
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    color: white;
                }
            }
        }
    }
}
@media (max-width: 640px) {
    #products{
        margin-bottom: 90px;
        h5{
            text-align: center;
            margin-top: 20px;
        }
        .div3img{
            display: flex;
            justify-content: center;
            .divParentProducst{
                margin: 3px;
                border: black solid 1px;
                border-radius: 3px;
                text-align: center;
                .divImgProducts{
                    width: 100px;
                    margin: 10px;
            
                    img{
                        max-width: 100%;
                    }

                }
                .productsEtiqs{
                    
                    p{
                        font-size: 12px;
                    }
                    span{
                        font-size:12px;
                        color: red;
                    }
                }
            }
        }
    }

}
@media (min-width: 641px) and (max-width:1007px) {
    #products{
        margin-bottom: 90px;
        h5{
            text-align: center;
            margin-top: 100px;
            font-weight: bold;
        }
        .div3img{
            display: flex;
            justify-content: center;
            width: 80%;
            margin: auto;
            div{
                .divImgProducts{
                    width: 200px;
                    margin: 20px;
                
                    img{
                        width: 100%;
                    }

                }
                .productsEtiqs{
                    text-align: center;
                    p{
                        font-weight: bold;
                    }
                    span{
                        color: red;
                    }
                }
            }
        }
    }
}
@media (min-width:1008px) {
    #products{
        margin-bottom: 90px;
        h5{
            text-align: center;
            margin-top: 100px;
            font-weight: bold;
        }
        .div3img{
            display: flex;
            justify-content: center;
            width: 60%;
            margin: auto;
            div{
                .divImgProducts{
                    width: 300px;
                    margin: 20px;
                
                    img{
                        width: 100%;
                    }

                }
                .productsEtiqs{
                    text-align: center;
                    p{
                        font-weight: bold;
                    }
                    span{
                        color: red;
                    }
                }
            }
        }
    }
}