
@media (max-width:640px) {
    #productsDeux{
        .bgCover{
            background-image: url(../img/cta-bg.jpg);
            height: 650px;
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            color: white;
            button{
                border: solid 1px red;
                border-radius: 15px;
                width: 15%;
                font-size: 12px;
                background-color: red;
                color: white;
                margin-top: 15px;
            }
        }
        
    }
}
@media (min-width:641px) and (max-width:1007px) {
    #productsDeux{
        div:first-child{
            background-image: url(../img/cta-bg.jpg);
            height: 650px;
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            button{
                border: solid 1px red;
                border-radius: 15px;
                width: 8%;
                background-color: red;
                color: white;
                margin-top: 15px;
            }
        }
        
    }
}
@media (min-width:1008px) {
    #productsDeux{
        width: 100%;
        div:first-child{
            background-image: url(../img/cta-bg.jpg);
            height: 650px;
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            button{
                border: solid 1px red;
                border-radius: 15px;
                width: 8%;
                background-color: red;
                color: white;
                margin-top: 15px;
            }
        }
        
    }
}